html {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: url("../img/cursor.png"), auto;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}

.board {
    background-image: url('../img/background.jpg');
    position: absolute;
    left: 0;
    bottom: 0;
}

.piece {
    border: 1px solid #424242;
    background-color: #d2d2d2;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.projectile {
    border-color: #f00;
    background-color: #fbb;
    z-index: 0;
}

.human {
    background-color: #7491ae;
}

.zombie {
    background-color: #669900;
}

.tagged {
    background-color: #FF0000;
}

.player {
    border-color: #1c61ff;
}
