html {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: url("../img/cursor.png"), auto;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}